@model IEnumerable<HotelSite1.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Hotellrum</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roomnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roomtypes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roomnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roomtypes.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="#" asp-route-id="@item.Id">Boka</a> |
            </td>
        </tr>
}
    </tbody>
</table>
