@model IEnumerable<HotelSite1.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qtypersons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timearrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timedeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialneeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extrabed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qtypersons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timearrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timedeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialneeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extrabed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
